services:
  # Frontend - Static Site
  - type: web
    name: portfolio-frontend
    env: static
    buildCommand: export NODE_OPTIONS="--max_old_space_size=4096" && npm ci --omit=dev && npm install && npm run build
    staticPublishPath: ./dist
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

  # Backend - API Server
  - type: web
    name: portfolio-backend
    env: node
    buildCommand: npm install
    startCommand: npm run server
    envVars:
      - key: NODE_ENV
        value: production
